<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP8FrosCyAglqovgb0bda3dK32Rzmaesw</string>
	<key>GCM_SENDER_ID</key>
	<string>963340482184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeditepe.f1eague.f1eague</string>
	<key>PROJECT_ID</key>
	<string>f1eauge</string>
	<key>STORAGE_BUCKET</key>
	<string>f1eauge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963340482184:ios:60109634b8a013aae6d13d</string>
</dict>
</plist>